Source: bitzec
Section: utils
Priority: optional
Maintainer: bitzec  <bitzec>
Homepage: https://bitzec.org
Build-Depends: autoconf, automake, bsdmainutils, build-essential,
 git, g++-multilib, libc6-dev, libtool,
 m4, ncurses-dev, pkg-config, python,
 unzip, wget, zlib1g-dev
Vcs-Git: https://github.com/bitzec/bitzec.git
Vcs-Browser: https://github.com/bitzec/bitzec

Package: bitzec
Architecture: 1.0.0
Depends: ${shlibs:Depends}
Architecture: all
Description: bitzec  (Bit)coin and Zcash(zec) codebase.
